<!DOCTYPE html>
<html lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Titulo de la pagina</title>
	<!--[if lt IE 9]>
	  <script src="http://theme.marstheme.com/videotube/wp-content/themes/videotube/assets/js/ie8/html5shiv.js"></script>
      <script src="http://theme.marstheme.com/videotube/wp-content/themes/videotube/assets/js/ie8/respond.min.js"></script>
	<![endif]-->	

<link rel='stylesheet' id='socialcountplus-style-css'  href='../../wp-content/plugins/social-count-plus/assets/css/counterd5f7.css?ver=2.0' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap.min.css-css'  href='../../../../netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min7868.css?ver=3.9' type='text/css' media='all' />
<link rel='stylesheet' id='mars-netdna.bootstrapcdn.com-font-awesome.css-css'  href='../../../../netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome7868.css?ver=3.9' type='text/css' media='all' />
<link rel='stylesheet' id='mars-googlefont-lato-css'  href='http://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900&amp;ver=3.9' type='text/css' media='all' />
<link rel='stylesheet' id='mars-style-css'  href='../../wp-content/themes/videotube/style7868.css?ver=3.9' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-multiselect.css-css'  href='../../wp-content/themes/videotube/assets/css/bootstrap-multiselect7868.css?ver=3.9' type='text/css' media='all' />
<link rel='stylesheet' id='ebs_dynamic_css-css'  href='../../wp-content/plugins/easy-bootstrap-shortcodes/styles/ebs_dynamic_css7868.css?ver=3.9' type='text/css' media='all' />
<link rel='stylesheet' id='wppb_stylesheet-css'  href='../../wp-content/plugins/profile-builder/assets/css/front.end7868.css?ver=3.9' type='text/css' media='all' />
<script type='text/javascript' src='../../wp-includes/js/jquery/jquerya4e6.js?ver=1.11.0'></script>
<script type='text/javascript' src='../../wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
<script type='text/javascript' src='../../../../netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min7868.js?ver=3.9'></script>
<style>div#header{background:#ffffff}#navigation-wrapper{background:#4c5358!important;}.dropdown-menu{background:#4c5358!important;}.widget h4.widget-title{background:#e73737}#footer{background:#111111}#footer .widget ul li a, #footer .widget p a{color:#ffffff}#footer .widget p{color:#ffffff}body{font-family:;}h1,h2,h3,h4,h5,h6 {font-family:!important}#navigation-wrapper ul.menu li a{font-family:, sans-serif!important;}</style>

</head>

<body class="single single-video postid-1717 single-format-standard">
	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-3" id="logo">
					<a title="Just another WordPress site" href="http://theme.marstheme.com/videotube">
							<img src="../../wp-content/themes/videotube/img/logo.png" alt="Just another WordPress site" />
					</a>
				</div>
				<form method="get" action="http://theme.marstheme.com/videotube">	
					<div class="col-sm-6" id="header-search">
						<span class="glyphicon glyphicon-search search-icon"></span>
						<input value="" name="s" type="text" placeholder="Search here..." id="search">
					</div>
				</form>
				<div class="col-sm-3" id="header-social">
					<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>					<a href="../../feed/rss/index.html"><i class="fa fa-rss"></i></a>
				</div>
			</div>
		</div>
	</div><!-- /#header -->
	