doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/video-js.css')
		//link(rel='stylesheet', href='/stylesheets/rangeslider.css')
		script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
		script(type='text/javascript', src='/javascripts/video.dev.js')
		script(type='text/javascript', src='/javascripts/videojs.cuepoints.js')
		script(type='text/javascript', src='/javascripts/usecuepoint.js')
		//script(type='text/javascript', src='/javascripts/rangeslider.js')
	body
		block content